@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@431&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body{
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(146, 127, 103);
    background-image: url('../img/Suarco3-scaled.jpg');
}

header{
    background-color: bisque;
    text-align: center;
    margin: 20px 20px 20px 0px;
    padding: 5px;
    border-radius: 15px;
    color: rgb(146, 127, 103);
}
header h1, h2{
    font-family: 'Newsreader', serif;
    text-align: center;
}

nav{
    background-color: bisque;
    font-family: 'Lora', serif;
} nav a:hover{
    background-color: rgb(236, 211, 181);
    color: rgb(146, 127, 103);
}

img{
    margin-left: 22%;
}


main{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(253, 239, 222, 0.781);
}
section{
    background-color: bisque;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
article ul, article ol{
    font-family: 'Lora', serif;
}

aside{
    background-color: rgb(240, 214, 182);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 'Lora', serif;
}

footer{
    background-color: bisque;
    border-radius: 10px;
    text-align: center;
}